<div class="cuerpo">
    <div class="container contenido" id="cuerpo">

        <h1 id="tituloCalculadora">
            <b>¡Bienvenido a la herramienta de cálculo aritmético basico Online!</b>
        </h1>
    
        <div id="textoCalculadora">
    
            <p>
                Los números representan unidades de cosas; pero es posible utilizarlos como solamente números; 
                y de esa forma, realizar con ellos diversas operaciones que sirven para realizar cálculos que 
                son muy útiles; y que se llaman operaciones aritméticas. Esas operaciones son:
            </p>
    
            <br>
    
            <ol id="Incisos" name="Incisos">
                <p>
                    <li>
                        LA SUMA: (también llamada ADICIÓN), que se representa con el signo de MÁS: +
                    </li>
                </p>
                <p>
                    <li>
                        LA RESTA: (también llamada SUSTRACCIÓN o DIFERENCIA) que se representa con el 
                        signo de MENOS: –
                    </li>
                </p>
                <p>
                    <li>
                        LA MULTIPLICACION: Que se representa con el signo de POR: ×
                    </li>
                </p>
                <p>
                    <li>
                        LA DIVISION: Que se representa con el signo de DIVIDIDO: ÷
                    </li>
                </p>
            </ol>
    
            <br>
            
            <p>
                El resultado de las operaciones, se representa utilizando el signo de IGUAL: =
            </p>
        </div>
    </div>
</div>